/* Page Headers*/

.header-color {
  background-color: black !important; /* fallback for old browsers */
  opacity: .88;
  display: flex;
  
}

.landing-content-grid {
  background-color: #333333 !important;
  opacity: .9;
  align-items:center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Landing Page CSS*/
.avatar-manuel {
  margin-top: 5em;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.landing-info {
  background-color: black;
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.landing-info h1 {
  font-size: 60px;
  font-weight: bold;
  color:white;
  text-align: center;
}

.landing-info hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto
}

.landing-info h3 {
  font-weight: bold;
  color:white;
  text-align: center;
}

.landing-info p {
  size: 20px;
  color: white;
  padding: 1em;
  display: flex;
  text-align: center;
}

.imagen-Conteiner {
display: flex;
flex-direction: column;
align-items: center;
}

/*Projects Page CSS*/
.projects-container{
  display:flex;
}


/*Contact Page CSS*/
.contact-Conteiner{
  background-color: #333333;
  width:100%;
  justify-content: center;

  ;
}

.contact-Body-Grid {
  margin: 40px auto;
  text-align: center;
  justify-content: center;
  width: 80% !important;
  background-color: white;
  color: black;
  border-radius: 30px;
  margin-bottom: 20px;
}
.contact-Body-Grid h1 {
  font-family:'JetBrains Mono', monospace;
  font-weight: bold;
}

.contact-Body-Grid p{
  width: 75%;
  margin: auto;
  padding-top: 1em;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-Body-Grid h3{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-Body-Grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

/* .list-container{
  display: flex;
  flex-direction: column;
} */

/*Resumepage CSS*/
.resume-container{
  height: 100% ;
  display: flex;
}
.resume-side1{
  background-color: cornsilk;
  color: black;
  height: 100% ;
}

.resume-side1 p {
  text-align: justify;
}
.resume-side2{
  background-color: darkcyan;
  color:white
}

.side2-Conteiner{
  padding-left: 40px;
  padding-right: 40px;
}

/*Education CSS*/
.intitution-Conteiner p {
  text-align: justify;
}

.year-Conteiner p{
  font-weight: bold;
}
/*App.tsx CSS*/
.linkTest {
  color: "white";
  font-style: "bold";
}

.aboutmeCss{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.sectionsCss{
  display: flex;
  flex-direction: row;
}